<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.hospital.dao.IDiagnosisDAO">

    <insert id="create">

        INSERT INTO diagnosis(name)
        VALUES (#{name})

    </insert>

    <select id="getById"
            parameterType="int"
            resultType="com.solvd.hospital.model.Diagnosis">

        SELECT *
        FROM diagnosis
        WHERE id = #{id}

    </select>

    <select id="getAll"
            resultType="com.solvd.hospital.model.Diagnosis">

        SELECT *
        FROM diagnosis

    </select>

    <update id="update">

        UPDATE diagnosis
        SET name = #{name}
        WHERE id = #{id}

    </update>

    <delete id="delete">

        DELETE FROM diagnosis
        WHERE id = #{id}

    </delete>

</mapper>