<mapper namespace="PatientMapper">

    <insert id="insert">

        INSERT INTO patients(first_name, last_name)
        VALUES (#{firstName}, #{lastName})

    </insert>

    <select id="selectById"
            parameterType="int"
            resultType="com.solvd.hospital.model.Patient">

        SELECT *
        FROM patients
        WHERE id = #{id}

    </select>

    <select id="selectAll"
            resultType="com.solvd.hospital.model.Patient">

        SELECT *
        FROM patients

    </select>

    <update id="update">

        UPDATE patients
        SET first_name = #{firstName},
        last_name = #{lastName}
        WHERE id = #{id}

    </update>

    <delete id="delete">

        DELETE FROM patients
        WHERE id = #{id}

    </delete>

</mapper>