<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.hospital.dao.ITreatmentDAO">

    <insert id="create">

        INSERT INTO treatments(name)
        VALUES (#{name})

    </insert>

    <select id="getById"
            parameterType="int"
            resultType="com.solvd.hospital.model.Treatment">

        SELECT *
        FROM treatments
        WHERE id = #{id}

    </select>

    <select id="getAll"
            resultType="com.solvd.hospital.model.Treatment">

        SELECT *
        FROM treatments

    </select>

    <update id="update">

        UPDATE treatments
        SET name = #{name}
        WHERE id = #{id}

    </update>

    <delete id="delete">

        DELETE FROM treatments
        WHERE id = #{id}

    </delete>

</mapper>